#footergrid {
    font-family: 'Montserrat';
    color: white;
    background-color: #710000;
    padding-top: 66px;
    padding-bottom: 15px;
}

#footergrid a {
    text-decoration: underline;
    color: white;
}

#footergrid .footerlogo {
    width: 160px;
    height: 100px;
}

#connect h2 {
    font-size: 24px;
    font-weight: bolder;
}

#connect #connect-push p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 38px;
}

#connect ul {
    list-style-type: none;
    padding-left: 0px;
}

#connect ul li {
    display: inline; 
    padding-right: 15px;
    font-size: 24px;
}



#sitemap h2 {
    font-size: 24px;
    font-weight: bolder;
}

#sitemap ul {
    list-style-type: none;
    padding-left: 0px;
}

#sitemap ul li {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 13px;
}

#sitemap ul a {
    text-decoration: none;
    color: white;
}

#sitemap ul a:hover {
    text-decoration: underline;
}