#footergrid {
    font-family: 'Montserrat';
    color: white;
    background-color: #710000;
    padding-top: 66px;
}

#connect h2 {
    font-size: 24px;
    font-weight: bolder;
}

#connect-push {
    margin-top: 94px;
}

#connect #connect-push p {
    font-size: 15px;
    font-weight: bold;
}

#sitemap h2 {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 30px;
}

#sitemap ul {
    list-style-type: none;
    padding-left: 0px;
}

#sitemap ul li {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 13px;
}