#header > div ul li {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
}

#header > div ul {
    list-style-type: none;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

#header > div ul li {
    display: inline;
    margin-right: 36px;
}

#header {
    background-color: #410000;
}

#header ul a {
    text-decoration: none;
    color: white;
}

#header ul a:hover {
    text-decoration: underline;
}

#header img {
    height: 100px;
    width: 160px;
    padding-bottom: 5px;
}

#header .menuButton {
    color: white;
    height: 50px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 770px) {
    #header > div ul li {
        display: block;

        margin-bottom: 20px;
    }
}