body {
    margin: 0 auto;
}

#landingcontainer {
    background-color: #710000;
}

h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 76px;
    font-size: 50px;
    color: white;
    width: 612px;
    height: 209px;
}

#landingcontainer p {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    font-size: 24px;
    width: 513px;
    height: 212px;
    color: #FFFFFF;
    
}

#landingcontainer {
    padding-top: 50px;
}
