body {
    margin: 0 auto;
}

#landingcontainer {
    background-color: #710000;
}

#landingcontainer h1 {
    font-family: 'Montserrat';
    font-weight: bold;

    font-size: 40px;
    color: white;
    height: 209px;
}

#landingcontainer p {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    font-size: 20px;

    height: 212px;
    color: #FFFFFF;
    
}

#landingcontainer {
    padding-top: 50px;
}

#landingcontainer img {
    height: 200px;
    float: right;
}

@media only screen and (max-width: 770px) {
    #landingcontainer img {
        display: none;
    }
}